<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ page.title }} &mdash; Jack Magazine</title>
	<meta name="description" content="{{ page.description ?? '' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="/build/manifest.json">
	<link rel="apple-touch-icon" href="/favicon/icon.png">
	<!-- Place favicon.ico in the root directory -->

	{% block opengraph %}
	<meta property="og:image" content="">
	<meta property="og:type" content="website">
	{% endblock %}

	{% block twittercard %}
	<meta property="twitter:card" content="summary">
	<meta property="twitter:site" content="@thejackmag">
	<meta property="twitter:creator" content="@thejackmag">
	{% endblock %}

	{% block schema %}
	{% endblock %}

	<style>{% include 'styles.css' %}</style>
    {{ encore_entry_link_tags('app') | replace({ stylesheet: 'preload" as="style' }) | raw }}

	<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
</head>

<body data-route-name="{{ routeName }}" data-tpl="{{ tpl }}">

	{% block header %}
	<header id="masthead">
		<nav class="foreground tc lowercase main-nav">
			<span class="far-left tl">
				<h1><a class="plain icon-btn" id="header__logo" data-section="home" href="{{ path('home') }}"><img id="header__logo__img" class="icon__img" src="{{ site.logo }}" alt="The Jack Mag"></a></h1>
			</span>
			<ul id="header__nav" class="horizontal-list floats">
                {% include 'partial/main-nav.twig' %}
			</ul>
            {% include 'partial/sub-navs.twig' %}
			<span class="far-right tl">
				<ul id="header__social" class="social-buttons horizontal-list floats tc">
                    {% for social in site.social %}
                    <li class="button--{{ social.name }}"><a class="plain svg-button" target="_blank" href="{{ social.url }}" title="{{ social.title }}"><img src="{{ social.icon }}" alt="{{ social.name }}"></a></li>
                    {% endfor %}
				</ul>
			</span>
		</nav>
	</header>
	{% endblock %}

	{% block intro %}
        {% if hasIntro and intro is defined %}
        <aside id="intro" data-end-url="{{ path(intro.endRoute) }}">
            <noscript>
                {% for img in intro.images %}
                <img src="{{ img.path }}" {{ img.getimagesize[3] | raw }}>
                {% endfor %}
            </noscript>
        </aside>
        {% endif %}
    {% endblock %}

	{% block background %}
        {% if page.background is defined %}
        <div class="page-background">
            {% include 'partial/image.html.twig' with {'img': page.background} only %}
        </div>
        {% endif %}
    {% endblock %}

	{% block content %}{% endblock %}

	{% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js" defer async></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.0/dist/lazyload.min.js" defer async></script>
        <script src="https://cdn.jsdelivr.net/npm/hoverintent@2.2.1/dist/hoverintent.min.js" defer async></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
	<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<!--script>
		window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set','transport','beacon'); ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async></script-->
</body>

</html>
