<ul class="subnav" data-parent="issues">
    {% for issue in site.issues %}
    <li data-slug="{{ issue.slug }}">
        <a href="{{ issue.url }}">{{ issue.title }}</a>
    </li>
    {% endfor %}
</ul>
{% for mainsubnav in site.mainsubnavs %}
<ul class="subnav" data-parent="{{ mainsubnav.parent }}">
    {% for item in mainsubnav.items %}
    <li data-slug="{{ item.title | slugify }}">
        <a href="/{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
